.notesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.noteHeader {
  margin-bottom: 20px;
}

.noteTitle {
  width: 96.4%;
  padding: 10px;
  font-size: 24px;
  background-color: #2d2d2d;
  color: #d4d4d4;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}

.noactive {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
  background-color: #1e1e1e;
  color: #d4d4d4;
}

.noteContents {
  height: 80%;
  width: 96.4%;
  padding: 10px;
  font-size: 16px;
  /* background-color: #2d2d2d; */
  color: #d4d4d4;
  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;
}

@media (max-width: 768px) {
  .noteTitle {
    margin-left: 55px; 
    width: 74%;
  }
  .saveButton {
    top: 14.1% !important;
    right: 8% !important;
  }
}

@media (max-width: 375px) {
  .saveButton {
    top: 23.1% !important;
  }
  .noteContents {
    height: 69%;
  }
}

.saveButton {
  position: absolute;
  top: 12.9%;
  right: 4%;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.saveButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.saveButton.active {
  background-color: #45a049;
} 

